.scrollZones {
    border-radius:10;
    background-color:#FFF;
    color:#000;
    margin:10;

    min-height: 300;
}

.stackZones {
    padding:10;
    
    horizontal-align:left;
}   

.zone {
    padding-top: 5;
    padding-bottom: 5;
}

.zoneName {
    font-size:18;
    font-weight:bold;
}

.zoneLocation {
    font-size:12;
    color:#777;
}

.selected {
    font-family: 'Ionicons';
    color: green;
    margin-right: 10;
}